@font-face {
	font-family: 'puls4';
	src:url('fonts/puls4.eot?xma8lk');
	src:url('fonts/puls4.eot?#iefixxma8lk') format('embedded-opentype'),
		url('fonts/puls4.woff?xma8lk') format('woff'),
		url('fonts/puls4.ttf?xma8lk') format('truetype'),
		url('fonts/puls4.svg?xma8lk#puls4') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'puls4';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e602";
	color: #DD4F24;
}
.icon-star:before {
	content: "\e603";
	color: #FFBE2C;
	margin-right: 0.4em;
	position: relative;
	top : 0.1em;

}
.icon-pencil:before {
	content: "\e604";
	margin-right: 0.8em;
}
a{
	color:#22BCE0;
}
aside{
	display:none;
}
body{
	background: #eeeeee;
	font-family: 'Open Sans', sans-serif;;
	font-size: 16px;
}

footer{
	background: #22BCE0;
	padding: 1em;
	color: rgba(255,255,255,0.7);
	text-align: center;
}

footer p:first-child{
	margin-bottom: 0;
}

footer p:last-child{
	margin-top: 0;	
}
footer p:last-child:after{
	content: " -"	
}
footer p:last-child:before{
	content: "- "	
}
header{
	background: #344B54;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}
header figure{
	float: left;
}

header h1{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 0;
}

header #logo{
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-right: 0.5em;
}

header #logo img{
	width: 52px;
	transition: 0.5s all ease;
}

header #logo img:hover{
	transform: rotate(360deg);
	width: 52px;
	cursor: pointer;
}

header #avatar{
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	top: 0;
	right: 0;
}

header #avatar img{
	border-radius: 50%;
	width: 55px;
}
nav{
	background: #80BCA3;
	box-shadow: rgba(0,0,0,.5) 0 0 10px;
	position: relative;
	padding: 0 6em 0 0;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	margin: 0 1em 0 0;
}
nav ul li a{
	color: white;
	display: block;
	text-decoration: none;
	padding: 0.5em;
	transition:0.5s background ease;

}

nav ul li a:hover{
	background: #344B54;

}

nav ul #publicar_nav{
	position: absolute;
	top: -0.1em;
	right: 0;
}

nav ul #publicar_nav a{
	background: #22BCE0;
	border-radius: 5px;
	font-style: italic;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	padding: 0.6em 0.8em;
	text-shadow:rgba(0,0,0,0.5) 2px 2px 5px;
	transition: 0.2s box-shadow ease;
}

nav ul #publicar_nav a:hover{
	box-shadow: 0px 0px 30px yellow;
}

#contenido{
	margin: 1em;
}

#contenido .item{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}

#contenido .item .autor_item{
	color: #aaa;
}

#contenido .item .datos_item{
	margin: 1em 1em 0 0;
}

#contenido .item .datos_item .fecha_item{
	color:#aaa;
	float: right;
}

#contenido .item .datos_item .tag_item{
	background: #F4502A;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

#contenido .item .imagen_item{
	float: left;
	margin-right: 1em;
}

#contenido .item .imagen_item img{
	width: 96px;
}

#contenido .item .titulo_item{
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 0;
	padding: 1em 1em 0 0;
}

#contenido .item .titulo_item a{
	text-decoration: none;
	color: #444;
}

#contenido .item .votacion{
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	left: 3%;
	margin-top: 3px;
	padding: 0.5em 1em;
	position: absolute;
	top: 100%;	
	right: 3%;
}

#contenido .item .votacion a{
	text-decoration: none;
}


#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item{
	float: right;
}


@media screen and (min-width: 800px){
	#contenido{
		overflow: hidden;
	}
	#contenido .item{
		width: 49%;
		float: left;
		
	}

	#contenido .item:nth-child(odd){
		margin-right: 2%;
	}
}

@media screen and (min-width: 1000px){
	aside{
		display: block;
		float: right;
		margin: 1em;
		width: 25%;
	}

	aside video{
		width: 100%;
	}
}


/*FORMULARIOS*/

.formulario{
	display: none;
	padding: 1em;
	text-align: right;
}

.formulario input{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.2em;
}

.formulario input[type="submit"]{
	background: #22BCE0;
	border-color: #22BCE0;
	color: white;
	font-style: italic;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	text-shadow:rgba(0,0,0,0.5) 2px 2px 5px;
}


